<a href="https://colab.research.google.com/github/Gowri08/ml-test-2/blob/main/tnq%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Unzip files

In [ ]:
from zipfile import ZipFile
with ZipFile('/content/drive/MyDrive/tnq/world_population.zip', 'r') as zipObj:
   zipObj.extractall()

In [ ]:
zipObj

Importing Dataset

In [6]:
import pandas as pd
df=pd.read_csv("/content/world_population.csv")

In [7]:
df.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

Summary of Dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [10]:
df1=df.drop(["Rank"],axis=1)
df1.describe()

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

Checking Duplicates

In [12]:
df.duplicated().sum()

0

Analysing

In [36]:
a=df[["Continent","2022 Population"]]
b=df[["Continent","2020 Population"]]
c=df[["Continent","2015 Population"]]
d=df[["Continent","2010 Population"]]
e=df[["Continent","2000 Population"]]
f=df[["Continent","1990 Population"]]
g=df[["Continent","1980 Population"]]
h=df[["Continent","1970 Population"]]

Continent wise population in 2022

In [35]:
a=a.groupby(["Continent"]).sum()
print(a)

               2022 Population
Continent
Africa              1426730932
Asia                4721383274
Europe               743147538
North America        600296136
Oceania               45038554
South America        436816608

Continent wise population in 2020

In [37]:
b=b.groupby(["Continent"]).sum()
print(b)

               2020 Population
Continent
Africa              1360671810
Asia                4663086535
Europe               745792196
North America        594236593
Oceania               43933426
South America        431530043

Continent wise population in 2015

In [38]:
c=c.groupby(["Continent"]).sum()
print(c)

               2015 Population
Continent
Africa              1201102442
Asia                4458250182
Europe               741535608
North America        570383850
Oceania               40403283
South America        413134396

Continent wise population in 2010

In [39]:
d=d.groupby(["Continent"]).sum()
print(d)

               2010 Population
Continent
Africa              1055228072
Asia                4220041327
Europe               735613934
North America        542720651
Oceania               37102764
South America        393078250

Continent wise population in 2000

In [40]:
e=e.groupby(["Continent"]).sum()
print(e)

               2000 Population
Continent
Africa               818946032
Asia                3735089604
Europe               726093423
North America        486069584
Oceania               31222778
South America        349634282

Continent wise population in 1990

In [41]:
f=f.groupby(["Continent"]).sum()
print(f)

               1990 Population
Continent
Africa               638150629
Asia                3210563577
Europe               720320797
North America        421266425
Oceania               26743822
South America        297146415

Continent wise population in 1980

In [42]:
g=g.groupby(["Continent"]).sum()
print(g)

               1980 Population
Continent
Africa               481536377
Asia                2635334228
Europe               692527159
North America        368293361
Oceania               22920240
South America        241789006

Continent wise population in 1970

In [43]:
h=h.groupby(["Continent"]).sum()
print(h)

               1970 Population
Continent
Africa               365444348
Asia                2144906290
Europe               655923991
North America        315434606
Oceania               19480270
South America        192947156

Country having highest growth rate in each continent

In [64]:
a1=df[["Continent","Country","Growth Rate"]]
a2=a1.groupby(["Continent"]).max()

In [65]:
print(a2)

                                    Country  Growth Rate
Continent
Africa                             Zimbabwe       1.0378
Asia                                  Yemen       1.0376
Europe                         Vatican City       1.0691
North America  United States Virgin Islands       1.0150
Oceania                   Wallis and Futuna       1.0238
South America                     Venezuela       1.0239

Country having lowest growth rate in each continent

In [66]:
a2=a1.groupby(["Continent"]).min()
print(a2)

                      Country  Growth Rate
Continent
Africa                Algeria       1.0004
Asia              Afghanistan       0.9816
Europe                Albania       0.9120
North America        Anguilla       0.9937
Oceania        American Samoa       0.9831
South America       Argentina       0.9990

Country with highest population in 2022

In [68]:
highpop=df[df["2022 Population"]==df["2022 Population"].max()]

In [69]:
highpop[["Country","2022 Population"]]

   Country  2022 Population
41   China       1425887337

Country with lowest population in 2022

In [71]:
lowpop=df[df["2022 Population"]==df["2022 Population"].min()]

In [72]:
lowpop[["Country","2022 Population"]]

          Country  2022 Population
226  Vatican City              510

country stands first in the world population percentage

In [73]:
g=df[df["World Population Percentage"]==df["World Population Percentage"].max()]

In [74]:
g[["Country","World Population Percentage"]]

   Country  World Population Percentage
41   China                        17.88

top 5 countries having high population

In [84]:
g1=df.sort_values(by=['World Population Percentage'],ascending =False).head(5)

In [85]:
g1[["Country","World Population Percentage"]]

           Country  World Population Percentage
41           China                        17.88
92           India                        17.77
221  United States                         4.24
93       Indonesia                         3.45
156       Pakistan                         2.96